$base-fz: 16px;

$fw-thin: 100;
$fw-ex-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$padding-sm: 15px;
$padding-s: 25px;
$padding-m: 50px;
$padding-l: 75px;

$color-bcg: #eff1f5;

$color-main: #313131;
$color-light: #3838386e;

$transition: 0.2s;

$shadow-outer: 0px 0px 20px 2px rgba($color-main, 0.1);
$shadow-inner: 0px -20px 20px -18px rgba($color-main, 0.1) inset;
