$base-fz: 16px;

$fw-thin: 100;
$fw-ex-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$padding-sm: 15px;
$padding-s: 25px;
$padding-m: 50px;
$padding-l: 75px;

$color-bcg: #f1f1f1;

$color-main: #313131;
$color-light: #3838386e;