.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & * {
        letter-spacing: 1px;
    }

    &__field {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        position: relative;

        &-label {
            font-size: $base-fz * 0.85;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: $fw-bold;
            color: $color-light;
        }

        &-input {
            padding: 15px 20px;
            font-size: $base-fz * 1.15;
            border-color: $color-light;
            font-weight: $fw-medium;

            &_invalid {
                border-color: $color-danger-transparent;
                
                background-color: rgba($color-danger, .075);

                &:focus {
                    border-color: $color-danger-transparent !important;
                }
            }
            
            &:focus {
                border-color: $color-main;
            }
        }

        &-validation-error {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            color: $color-danger-transparent;
            font-weight: $fw-bold;
            position: absolute;
            font-size: $base-fz * 0.7;
            bottom: -16px;
            text-transform: uppercase;
        }
    }

    &__button {
        padding: $padding-sm $padding-l * 1.5;
        text-transform: uppercase;
        font-weight: $fw-medium;
        font-size: $base-fz * 1.1;
        cursor: pointer;
        margin-top: 30px;
        transition: $transition;

        &:hover {
            opacity: .85;
        }

        &:focus {
            opacity: .85;
        }

        &:disabled {
            opacity: .75;
            cursor: auto;
        }
    }
} 