.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-s 0;

    & * {
        letter-spacing: 1px;
    }

    &__field {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        position: relative;

        &-label {
            font-size: $base-fz * 0.85;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: $fw-bold;
            color: $color-light;
        }

        &-input {
            padding: 15px 20px;
            font-size: $base-fz * 1.15;
            border-color: rgba($color-light, .3);
            font-weight: $fw-medium;

            &_invalid {
                border-color: $color-danger-light;
                background-color: $color-danger-transparent;

                &:focus {
                    border-color: $color-danger-light !important;
                }
            }
            
            &:focus {
                border-color: $color-main;
            }
        }

        &-validation-error {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            color: $color-danger-text;
            font-weight: $fw-bold;
            position: absolute;
            font-size: $base-fz * 0.7;
            bottom: -16px;
            text-transform: uppercase;
        }
    }

    &__button {
        padding: $padding-sm $padding-l * 1.5;
        text-transform: uppercase;
        font-weight: $fw-medium;
        font-size: $base-fz * 1.1;
        cursor: pointer;
        margin-top: 30px;
        transition: $transition;
        position: relative;
        border-radius: 3px;
        background-color: rgba($color-main, .95);

        &:hover {
            opacity: .85;
        }

        &:focus {
            opacity: .85;
        }

        &:disabled {
            opacity: .75;
            cursor: auto;
        }

        .loader-container {
            position: absolute !important;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;

            &__spinner {
                border-width: 3px !important;
                border-color: white;
            }
            
        }
    }
} 