.notes-page__header {
    display: flex;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: white;
    justify-content: space-between;
    padding: $padding-sm $padding-m;
    align-items: center;
    border-bottom: 1px solid rgba($color-light, .2);

    * {
        letter-spacing: 1px;
    }

    .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;

        * {
            width: 35px;
            height: 2px;
            margin: 4px 0;
            background-color: $color-light;
            transition: .2s;
        }

        &:hover {
            * {
                background-color: $color-main;
            }
        }
    }

    .search-bar {
        width: 40%;

        &__input {
            width: 100%;
            font-size: $base-fz * 1.15;
            padding: $padding-sm $padding-s;
            border: 1px solid rgba($color-light, .3);
            font-weight: $fw-regular;

            &:focus {
                border-color: $color-main;
            }
        }
    }

    .profile {
        font-size: $base-fz * 1.25;
        position: relative;
        display: flex;
        align-items: center;

        &__name {
            font-weight: $fw-regular;
        }

        &__logout {
            margin-left: 10px;
            padding: 10px;
            font-size: $base-fz * 1.5;
            cursor: pointer;
            opacity: .75;
            transition: .3s;

            &:hover {
                opacity: 1;
            }
        }
    }
}