.notes-view {
    width: 79vw;
    padding: 0 $padding-m $padding-m $padding-m;
    transition: width .5s;
    z-index: 1;
    height: 100vh - $header-height;
    overflow-y: auto;
    
    * {
        letter-spacing: 1px;
    }

    &.sidebar_hidden {
        width: 100vw - $tags-width;
    }

    .notes-list {
        margin: $margin-s 0;

        &__header { 
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            color: rgba($color-main, .85);

            &-title {
                text-transform: uppercase;
                margin: 0;
                font-weight: $fw-regular;
            }

            &-count {
                align-self: flex-end;
                margin-left: $margin-sm;
                font-weight: $fw-medium;
                color: $color-light;
            }
        }

        &__grid {
            display: flex;

            &-column {
                margin: 0 $margin-sm / 2;
            }
        }
    }

    .note {
        margin-bottom: $margin-s;
        border: 1px solid rgba($color-light, .2);
        position: relative;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            .note__header-controls {
                opacity: 1;
                transform: scale(1);
            }
        }
        
        &__header {
            display: flex;
            justify-content: space-between;
            padding: $padding-sm + 5px  $padding-s;
            border-bottom: 1px solid rgba($color-light, .2);

            &-title {
                font-weight: $fw-medium;
                font-size: $base-fz * 1.15;
                max-width: 100%;
                overflow: hidden;
            }

            &-controls {
                position: absolute;
                top: -20px;
                right: -10px;
                background-color: white;
                padding: 3px 10px;
                border-radius: 5px;
                border: 1px solid rgba($color-light, .2);
                // background-color: #7F7F7F;
                opacity: 0;
                transition: .2s;

                * {
                    font-size: $base-fz * 1.3;
                    cursor: pointer;
                    padding: 5px;
                    color: rgba($color-main, .8);
                }

                .pin {
                    margin-left: 10px;
                }
            }
        }

        &__text {
            margin: 0;
            padding: $padding-sm $padding-s 0 $padding-s;
            white-space: pre-wrap;
            line-height: $base-fz * 1.5;
        }

        &__tags {
            padding: $padding-sm $padding-s;

            .tags__item {
                display: inline-flex; 
                color: $color-main;
                font-weight: $fw-medium;
                background-color: rgba($color-light, .2);
                padding: 5px 10px;
                margin: 0 5px 5px 0;
                font-size: $base-fz / 1.15;
                border-radius: 3px;
                align-items: center;

                &-icon {
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width: $break-xl) {
        
    .notes-view {
        width: 74vw;

        &.sidebar_hidden {
            width: 100vw - $tags-width-xl;
        }
    }
}

@media (max-width: $break-l) {
        
    .notes-view {
        // padding: 0 $padding-s $padding-s $padding-s;
        width: 100vw - $tags-width-l;

        &.sidebar_hidden {
            width: 100vw - $tags-width-l;
        }
    }
}

@media (max-width: $break-m) {
        
    .notes-view {
        padding: 0 $padding-s $padding-s $padding-s;
        width: 100vw - $tags-width-m;

        &.sidebar_hidden {
            width: 100vw - $tags-width-m;
        }
    }
}

@media (max-width: $break-s) {
        
    .notes-view {
        width: 100vw - $tags-width-s;
        padding: 0 $padding-m $padding-m $padding-m;

        &.sidebar_hidden {
            width: 100vw - $tags-width-s;
        }
    }
}

@media (max-width: $break-xs) {
        
    .notes-view {
        width: 100vw - $tags-width-xs;
        padding: 0 $padding-s $padding-s $padding-s;

        &.sidebar_hidden {
            width: 100vw - $tags-width-xs;
        }
    }
}