.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: $header-height + $padding-s;
    padding-bottom: $padding-s;
    width: 21vw;
    height: 100vh;
    overflow: hidden;
    transition: width .5s;
    border-right: 1px solid rgba($color-light, .2);
    z-index: 10;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.hidden {
        width: $tags-width;
    }

    * {
        white-space: nowrap;
    }

    &__item {
        display: flex;
        height: $tags-height;
        margin: 5px 0;
        transition: .2s;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        align-items: center;

        * {
            letter-spacing: 1px;
            color: $color-main;
            font-size: $base-fz * 1.1;
        }

        &:hover {
            background-color: rgba($color-light, .1);

            .side-bar__item-icon {

                i {
                    color: $color-main;
                }
            }
        }

        &-icon {
            width: $tags-width;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: $color-light;
                transition: .15s;
                font-size: $base-fz * 1.15;
            }

            .fa-plus {
                font-size: $base-fz * 1.75;
            }
        }

        &-text {
            position: absolute;
            left: $tags-width;
        }
    }

    .tags {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;

        * {
            letter-spacing: 1px;
            font-size: $base-fz * 1.1;
            color: $color-main;
        }

        &__list {
            max-height: ($tags-height + 5px) * 10;
            transition: all .2s;
            overflow-y: auto;

            &.hide-scroll {
                overflow: hidden;
            }

            &::-webkit-scrollbar {
                width: 15px;
    
                &-track {   
                    background-color: rgba($color-light, 0);
                }
    
                &-thumb {
                    background-color: rgba($color-light, .2);
                    cursor: pointer;
                    border-radius: 3px;
    
                    &:hover {
                        background-color: rgba($color-light, .3);
                    }
                }
            }
        }

        &__item {
            display: flex;
            height: $tags-height;
            margin-bottom: 5px;
            transition: width .2s;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            align-items: center;

            &:hover {
                background-color: rgba($color-light, .1);

                .tags__item-icon {

                    i {
                        color: $color-main;
                    }
                }
            }

            &-icon {
                width: $tags-width;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: $color-light;
                    transition: .15s;
                    font-size: $base-fz * 1.2;
                }
            }

            &-text {
                position: absolute;
                left: $tags-width
            }
        }
    }
}