.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: $header-height;
    width: 21vw;
    height: 100vh;
    overflow: hidden;
    transition: width .5s;
    border-right: 1px solid rgba($color-light, .2);
    z-index: 10;
    background-color: white;

    &.hidden {
        width: $tags-width;
    }

    * {
        white-space: nowrap;
    }

    .tags {
        padding: $padding-s 1px $padding-s 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        * {
            letter-spacing: 1px;
            font-size: $base-fz * 1.1;
            color: $color-main;
        }

        &__list {
            max-height: $tags-height * 10;
            transition: all .2s;
            overflow-y: auto;

            &.hide-scroll {
                overflow: hidden;
            }

            &::-webkit-scrollbar {
                width: 15px;
    
                &-track {   
                    background-color: rgba($color-light, 0);
                }
    
                &-thumb {
                    background-color: rgba($color-light, .2);
                    cursor: pointer;
                    border-radius: 3px;
    
                    &:hover {
                        background-color: rgba($color-light, .3);
                    }
                }
            }
        }

        &__item {
            display: flex;
            height: $tags-height;
            margin: 5px 0;
            transition: width .2s;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            align-items: center;

            &:nth-last-child(1), &:nth-child(1) {
                margin: 0;
            } 

            &:hover {
                background-color: rgba($color-light, .1);

                .tags__item-icon {

                    i {
                        color: $color-main;
                    }
                }
            }

            &-icon {
                width: $tags-width;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: $color-light;
                    transition: .15s;
                    font-size: $base-fz * 1.2;
                }
            }

            &-text {
                position: absolute;
                left: $tags-width
            }
        }
    }
}