.tags-editor {
    padding: $padding-s 0;
    max-height: 90vh;
    min-width: 500px;

    .empty-screen {

        &__text {
            font-size: $base-fz * 1.7;
            font-weight: $fw-regular;
            letter-spacing: 1px;
        }
    }

    * {
        letter-spacing: 1px;
    }

    .tags {
        padding: $padding-s;
        padding-top: 0;
        margin-right: 5px;
        max-height: ($tags-height + 5px ) * 6;
        overflow-y: auto; 
        
        &::-webkit-scrollbar {
            width: 15px;

            &-track {   
                background-color: rgba($color-light, 0);
            }

            &-thumb {
                background-color: rgba($color-light, .2);
                cursor: pointer;
                border-radius: 3px;

                &:hover {
                    background-color: rgba($color-light, .3);
                }
            }
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;

            &-text {
                width: 65%;

                .text, .edit {
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    margin: 0;
                    height: $tags-height;
                    font-size: $base-fz * 1.1;
                    cursor: text;
                }

                .edit {
                    width: 100%;
                    display: none;
                    border: 1px solid rgba($color-light, .3);
                    border-radius: 3px;
                }
            }

            &-controls {

                i {
                    font-size: $base-fz * 1.35;
                    padding: 5px;
                    margin-left: $margin-sm;
                    cursor: pointer;
                    transition: .2s;

                    &:hover {
                        color: $color-main;
                    }
                }

                .done {
                    display: none;
                    font-size: $base-fz * 1.6;
                    padding: 0px;
                }
            }

            &.editable {
                
                .tags__item-text {
                    
                    .edit {
                        display: flex !important;
                    }

                    .text {
                        display: none !important;
                    }
                }

                .tags__item-controls {

                    .pen {
                        color: $color-main;
                    }

                    .done {
                        display: inline-flex;
                    }
                }
            }
        }
    }

    .add-tag {
        padding: $padding-m $padding-s;
        padding-bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__input {
            border-color:rgba($color-light, .3);
            padding: $padding-sm $padding-s;
            font-size: $base-fz * 1.15;
            width: 80%;

            &:focus {
                border-color: rgba($color-main, .9);
            }
        }

        &__done {
            font-size: $base-fz * 1.75;
            cursor: pointer;
            margin-right: $padding-sm;
            color: rgba($color-main, .9);
            transition: .2s;
            height: 100%;
            
            &:hover {
                opacity: .75;
            }
        }

        .loader {
            margin-right: $margin-sm;
            height: 100%;
        }
    }

}