.loader-container {

    &__spinner {
        width: 35px;
        height: 35px;
        display: block;
        border: 8px solid rgba($color-main, .85);
        margin: 0;
        border-radius: 50%;
        border-left-color: transparent !important;
        animation: spin .7s infinite linear;
        border-width: 3px !important;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}